.container {
  max-width: 27vw;
}
.comment {
  font-size: 0.9rem;
}
.signature {
  padding-top: 1.5rem;
  text-align: right;
  font-style: italic;
  opacity: 0.5;
}
.container:hover .signature {
  color: white;
  opacity: 1;
}
@media (max-width: 750px) {
  .container {
    max-width: none;
  }
}
