.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 4;
}
.linkText {
  font-family: "Inter";
  transition: transform 0.3s ease;
  color: white;
}

.linkText:hover {
  transform: scale(1.1);
}
